.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  padding-top: 32px;
  z-index: 10;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1),
    padding-top 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.onscroll {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
  padding-top: 8px;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.menuButtons {
  display: flex;
}

.orderLinkContainer {
  display: none;
  width: 163px;
  height: 55px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .orderLinkContainer {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
