.mobileMenuBtn {
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  width: 100%;
  height: 100%;
  stroke: var(--primary);
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/hero/hero-bgr-red@1x.webp");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  backdrop-filter: blur(10px);
  transform: translateX(100vw);
  z-index: 2000;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobileMenu.red {
  background-image: url("../../assets/img/hero/hero-bgr-red@1x.webp");
}
.mobileMenu.blue {
  background-image: url("../../assets/img/hero/hero-bgr-blue@1x.webp");
}
.mobileMenu.green {
  background-image: url("../../assets/img/hero/hero-bgr-green@1x.webp");
}
.mobileMenu.orange {
  background-image: url("../../assets/img/hero/hero-bgr-orange@1x.webp");
}
.mobileMenu.grey {
  background-image: url("../../assets/img/hero/hero-bgr-grey@1x.webp");
}

.mobileMenu.isopen {
  transform: translateX(0);
}

.closeBtn {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 32px;
  right: 16px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeBtnIcon {
  stroke: var(--main-text);
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .mobileMenu {
    background-image: url("../../assets/img/hero/hero-bgr-red@2x.webp");
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .mobileMenu.red {
    background-image: url("../../assets/img/hero/hero-bgr-red@2x.webp");
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .mobileMenu.green {
    background-image: url("../../assets/img/hero/hero-bgr-green@2x.webp");
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .mobileMenu.blue {
    background-image: url("../../assets/img/hero/hero-bgr-blue@2x.webp");
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .mobileMenu.orange {
    background-image: url("../../assets/img/hero/hero-bgr-orange@2x.webp");
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .mobileMenu.grey {
    background-image: url("../../assets/img/hero/hero-bgr-grey@2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .mobileMenuBtn {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
}
