.footer {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 32px;
}

.container {
  position: relative;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.address {
  display: flex;
  gap: 4px;
}

.scrollUpContainer {
  position: absolute;
  width: 100px;
  height: 39px;
  bottom: 50px;
  left: 10px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 128px;
    padding-bottom: 169px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    background-image: url("../../assets/img/footer/bgr-tablet@1x.webp");
    background-repeat: no-repeat;
    background-position: bottom right;
    backdrop-filter: blur(100px);
    background-size: 186px 636px;
  }

  .content {
    gap: 18px;
  }

  .address {
    gap: 8px;
  }

  .scrollUpContainer {
    left: 620px;
    bottom: 10px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .container {
    background-image: url("../../assets/img/footer/bgr-tablet@2x.webp");
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 162px;
  }

  .container {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
    background-image: url("../../assets/img/footer/bgr-desktop@1x.webp");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 400px 636px;
  }

  .scrollUpContainer {
    left: 1125px;
    bottom: 20px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .container {
    background-image: url("../../assets/img/footer/bgr-desktop@2x.webp");
  }
}
