.container {
  width: 100%;
  margin: 0 auto;
}

.logoContainer {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  background-color: var(--red);
  border-radius: 8px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.logoContainer.red {
  background-color: var(--red);
}

.logoContainer.blue {
  background-color: var(--blue);
}

.logoContainer.green {
  background-color: var(--green);
}

.logoContainer.orange {
  background-color: var(--orange);
}

.logoContainer.grey {
  background-color: var(--grey);
}
