.section {
  width: 100%;
  padding-top: 164px;
  padding-bottom: 32px;
}

.container {
  position: relative;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 84px;
  margin: 0 auto;
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--transparent-text-color);
  text-transform: uppercase;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 64px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 132px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 196px;
  }

  .container {
    max-width: 1440px;
  }
}
