.section {
  width: 100%;
  padding-top: 128px;
  padding-bottom: 32px;
}

.container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textWrapper {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  height: 500px;
  background-color: var(--cards);
  border-radius: 24px;
}

.text {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.orange {
  color: var(--orange);
}

.grey {
  color: var(--grey);
}

.textGrey {
  color: rgba(250, 250, 250, 0.4);
}

.imageWrapper {
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 64px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 64px;
  }

  .textWrapper {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 64px;
    height: 700px;
  }

  .text {
    font-size: 38px;
    line-height: 105%;
  }

  .imageWrapper {
    border-radius: 24px;
    width: 704px;
    height: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 164px;
    padding-bottom: 64px;
  }

  .container {
    max-width: 1440px;
    gap: 96px;
  }

  .infoWrapper {
    flex-direction: row;
  }

  .textWrapper {
    width: 680px;
    height: 700px;
  }

  .imageWrapper {
    width: 680px;
    height: 700px;
  }
}
